ody {
    background-color: lightgray;
    margin: 0px;
}

#main {
  width: auto;
}

#title {
   display: flex;
   justify-content: center;
   text-align: center;
   height: auto;
   width: auto;
   background-color: black;
   color: white;
   font-family: 'Times New Roman';
}

#img-div {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
      
}

#image   {
  opacity: 0.8;
  
}

#img-caption {
  font-style: italic;
  font-size: 14px;
 
}

#tribute-info {
  padding: 40px;
  font-size: 20px;
  
}

#tribute-link {
  color: green;
  
}
